<div class="navbar navbar-default custom-navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="http://pb.com" target="_blank" class="pb-header-mark" aria-label="Pitney Bowes Logo"></a>
      <a class="navbar-brand brand-text" href="#/">Shawn's Toolbox</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!--  pb-mobile-menu-close directive allows mobile menu to close when item selected -->
    <div class="collapse navbar-collapse" id="main-navbar" pb-mobile-menu-close>

      <ul class="nav navbar-nav">
        <li class="divider-vertical hidden-xs"></li>
        <!--<li>-->
          <!--<a href="" ui-sref="tables">Tables</a>-->
        <!--</li>-->

        <!-- end left menus -->

      </ul>
      <!-- end navbar-nav left -->

      <!-- start right menus -->
      <ul class="nav navbar-nav navbar-right">


        <!-- Apps menu -->
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-labelledby="app-offscreen" aria-expanded="false">
            <svg class="hidden-xs" width="24" height="24" viewBox="0 0 24 24">
              <g id="svgApps" stroke-linecap="round" stroke="#fff" stroke-width="1.5" fill="none">
                <path d="M4.637 4.455h-3.455v-3.455h3.455v3.455z"></path>
                <path d="M4.637 12.227h-3.455v-3.455h3.455v3.455z"></path>
                <path d="M4.637 20h-3.455v-3.455h3.455v3.455z"></path>
                <path d="M12.409 4.455h-3.455v-3.455h3.455v3.455z"></path>
                <path d="M12.409 12.227h-3.455v-3.455h3.455v3.455z"></path>
                <path d="M12.409 20h-3.455v-3.455h3.455v3.455z"></path>
                <path d="M20.182 4.455h-3.455v-3.455h3.455v3.455z"></path>
                <path d="M20.182 12.227h-3.455v-3.455h3.455v3.455z"></path>
                <path d="M20.182 20h-3.455v-3.455h3.455v3.455z"></path>
              </g>
            </svg>
            <span class="visible-xs-inline" id="app-offscreen">
                <i class="nc-icon-mini ui-2_grid-48"></i>Applications</span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li class="section-head">Your Apps</li>
            <li>
              <a href="" class="disabled">Product</a>
            </li>
            <li>
              <a href="">App 2</a>
            </li>
            <li>
              <a href="">App 3</a>
            </li>
            <li>
              <a href="">App 4</a>
            </li>
          </ul>
        </li>

        <!-- Support menu -->
        <li class="dropdown menu-help">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-labelledby="help-offscreen" aria-expanded="false">
            <svg class="hidden-xs" width="24" height="24" viewBox="0 0 24 24">
              <g id="svgSupport" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none">
                <path d="M11 1c5.523 0 10 4.477 10 10s-4.477 10-10 10-10-4.477-10-10 4.477-10 10-10z"></path>
                <path d="M10.811 12.818v-.909c1.463 0 2.727-1.265 2.727-2.727 0-1.463-1.265-2.727-2.727-2.727-1.085 0-2.129.812-2.538 1.746"></path>
                <path d="M11 15.545v.909"></path>
              </g>
            </svg>
            <span class="visible-xs-inline" id="help-offscreen">
                <i class="nc-icon-mini ui-2_alert-circle"></i>Support</span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li class="section-head hidden-xs">Support</li>
            <li class="input-group">
              <input type="text" name="" id="" class="form-control" placeholder="Search">
            </li>
            <li>
              <a href="">Support</a>
            </li>
            <li>
              <a href="">Add Carrier Accounts</a>
            </li>
            <li>
              <a href="">See All Support Topics</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="" ng-class="{disabled : patterns.offline}" popover-trigger="mouseenter" uib-popover="{{patterns.chatOfflineMessage}}"
                popover-placement="left">
                  <i class="nc-icon-mini ui-2_chat-round-content"></i>
                  Chat
                  <span ng-if="patterns.offline">Offline</span>
                </a>
            </li>
            <li>
              <a href="">
                  <i class="nc-icon-mini ui-1_email-84"></i>
                  Email
                </a>
            </li>
            <li>
              <a href="tel:1-800-555-45678" ng-class="{disabled : patterns.offline}" popover-trigger="mouseenter" uib-popover="{{patterns.phoneOfflineMessage}}"
                popover-placement="left">
                  <i class="nc-icon-mini ui-2_phone"></i>
                  1-800-555-45678
                </a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="">
                  <i class="nc-icon-mini arrows-2_square-download"></i>
                  Printer/Scale Drivers</a>
            </li>
          </ul>
        </li>

        <!-- Settings menu -->
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-labelledby="settings-offscreen" aria-expanded="false">
            <svg class="hidden-xs" width="24" height="24" viewBox="0 0 24 24">
              <g id="svgSettings" stroke-linecap="round" stroke="#fff" stroke-width="1.5" fill="none">
                <path d="M21 12.818v-3.636h-2.965c-.172-.665-.434-1.293-.775-1.871l2.096-2.096-2.571-2.571-2.096 2.096c-.578-.341-1.205-.603-1.871-.775v-2.965h-3.636v2.965c-.665.172-1.293.434-1.871.775l-2.096-2.096-2.571 2.571 2.096 2.096c-.341.578-.603 1.205-.775 1.871h-2.965v3.636h2.965c.172.665.434 1.293.775 1.871l-2.096 2.096 2.571 2.571 2.096-2.096c.578.341 1.205.603 1.871.775v2.965h3.636v-2.965c.665-.172 1.293-.434 1.871-.775l2.096 2.096 2.571-2.571-2.096-2.096c.341-.578.603-1.205.775-1.871h2.965z"></path>
                <path d="M8.273 11c0-1.506 1.221-2.727 2.727-2.727 1.506 0 2.727 1.221 2.727 2.727 0 1.506-1.221 2.727-2.727 2.727-1.506 0-2.727-1.221-2.727-2.727z"></path>
              </g>
            </svg>
            <span class="visible-xs-inline" id="settings-offscreen">
                <i class="nc-icon-mini ui-1_settings-gear-63"></i>Settings</span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li class="section-head">Application Settings</li>
            <li>
              <a href="">Carriers</a>
            </li>
            <li>
              <a href="">Cost Accounts</a>
            </li>
            <li>
              <a href="">Postage Payment Methods</a>
            </li>
            <li>
              <a href="">Users</a>
            </li>
            <li class="section-head">Personal Preferences</li>
            <li>
              <a href="">Label Options</a>
            </li>
            <li>
              <a href="">Automatic Emails</a>
            </li>
            <li>
              <a href="">Presets</a>
            </li>
            <li>
              <a href="">Return Label</a>
            </li>
            <li>
              <a href="">Preferences</a>
            </li>
          </ul>
        </li>

        <!-- User menu -->
        <li class="dropdown menu-user">
          <a href="" class="dropdown-toggle face" data-toggle="dropdown" aria-labelledby="username-offscreen" aria-expanded="false">

            <!-- user initials -->
            <span class="hidden-lg hidden-xs">
              <svg width="40" height="24" viewBox="0 0 40 24">
                <g id="svgUserInitials" fill="none"><path d="M1 12c0-6.075 4.925-11 11-11s11 4.925 11 11-4.925 11-11 11-11-4.925-11-11z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <text font-family="sans-serif" font-size="10" font-weight="normal" text-anchor="middle" fill="#fff">
                    <tspan x="12" y="16">MD</tspan>
                  </text>
                </g>
                <g transform="translate(28,3)"><circle cx="3" cy="3" r="6" fill="#FFFFFF"></circle></g>
              </svg>
            </span>

            <!-- for the mobile menu only -->
            <span class="visible-xs-inline header-username-xs" id="username-offscreen">
                <i class="nc-icon-mini users_circle-10"></i>Melanie Daniels
              </span>

            <!-- full name with notification number -->
            <span class="hidden-xs hidden-sm hidden-md">
              <span class="header-username">Melanie Daniels</span>
              <span class="header-notification">3</span>
            </span>

          </a>

          <!-- user drop-menu -->
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="">Profile<br>
                  <span class="menu-text-small">Email, Passwords</span>
                </a>
            </li>
            <li>
              <a href="">Your Account<br>
                  <span class="menu-text-small">Financials, Usage, Products, Support</span>
                </a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="">Sign Out</a>
            </li>
          </ul>
        </li>

      </ul>
      <!--/navbar-right -->
    </div>
    <!-- /navbar-collapse -->
  </div>
  <!-- /container -->
</div>
<!-- /navbar -->
